/* CSS BY KIDRON LEIP */

/* =================== BODY RESET =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* =================== ROOT =================== */
:root {
    --font-heading: 'Jost', sans-serif;
    --font-body: -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
    --off-white: #f5f4f2;
    --medium-gray: #444444;
}



/* =================== ? =================== */
.hidden {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

/*
h1 {}
*/

h2 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    text-transform: lowercase;
}

h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.2;
}

body {
    font-family: var(--font-body);
    font-size: 15px;
    line-height: 1.2;
    color: var(--medium-gray);
    background-color: var(--off-white);
}

section {
    padding: 80px 0;
}



/* =================== LOGO / NAV =================== */
#logo {
    position: absolute;
    left: 40px;
}

#logo img {
    width: 100px;
    display: block;
}

#nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul a {
    text-decoration: none;
    font-family: var(--font-heading);
    color: var(--medium-gray);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}



/* =================== ABOUT =================== */
#about {
    display: grid;
    grid-template-columns: 400px 550px;
    gap: 50px;
    margin: 0 auto;
    justify-content: center;
}

.about-text {
    line-height: 1.5;
}

.about-text p:nth-of-type(2) {
    margin-top: 20px;
}

.about-text h2 {
    text-align: left;
}

